.questions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button-resize {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8em;
  width: 8em;
}

.button-select {
  height: 4em;
  width: 4em;
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.button-select:hover {
  width: 5em;
  font-size: 2em;
  line-height: 0;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0,.25));
}

.button-select:focus {
  border: white .25em solid;
  outline: none;
}

.button-disabled {
  height: 4em;
  width: 4em;
  font-size: 1.25em;
  border: none;
  opacity: 0.5;
}

.selected {
  width: 5em;
  font-size: 2em;
  line-height: 0;
  border: white .25em solid;
  cursor: default;
}

.correct {
  width: 5em;
  font-size: 2em;
  line-height: 0;
  font-weight: bold;
  opacity: 1;
}